@import "styles/breakpoints";
@import "styles/mixin";

.bg {
  background-image: url(/img/background-patern.png);
}

.slide {
	text-align: center;
	height: rem(300);
	
	@media only screen and (min-width: 1024px) {
		height: rem(500);
	}
}

.item {
  display: grid;
  grid-template-columns: rem(50) 1fr;
  column-gap: rem(10);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}