@import "styles/mixin";

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-primary: #22376b;
	--color-secondary: #dd8b61;
}

@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo.woff2") format("woff2"),
		url("/fonts/Bilo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo-Light.woff2") format("woff2"),
		url("/fonts/Bilo-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo-Bold.woff2") format("woff2"),
		url("/fonts/Bilo-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

html,
body {
	scroll-behavior: smooth;
	scroll-padding-top: rem(50);
}

body {
	@extend .text-primary;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

main {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	fill: var(--color-white);
}

// ::-moz-selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

// ::selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

ul {
	margin: 0;
	padding: 0;
}

figure {
	display: flex;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	transition: background .4s ease;
  &-scrolled {
    @extend .bg-white;

		.logo {
			opacity: 0;
			&Secundario {
				opacity: 1;
			}
		}

		a, button {
			@extend .text-primary;
		}
  }

	a {
		letter-spacing: 2px;
	}
}

.logo {
	transition: all .4s ease;
	&Secundario {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all .4s ease;
	}
}

.font {
	&-secondary {
		font-family: $font-family-secondary;
	}
	&-poppins {
		font-family: $font-family-poppins;
	}
}

p {
	font-family: $font-family-poppins;
}

.swiper {
	&-button {
		&-prev,
		&-next {
			position: absolute;
			top: 50%;
			z-index: 1;
			cursor: pointer;

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				width: rem(30);
				height: rem(30);
				margin-top: rem(-17);
				background: url(/icons/arrow-circle.png);
				background-size: contain;
			}
		}

		&-prev {
			left: rem(-20);
			&:after {
				left: rem(-4);
				transform: scaleX(-1);
			}

			img {
			}
		}

		&-next {
			right: rem(-20);
			&:after {
				right: rem(-4);
			}
		}
	}
	
	&-pagination {
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: auto;
		bottom: rem(40);
		z-index: 3;

		&-bullet {
			position: relative;
			width: rem(26);
			height: rem(26);
			margin: 0 rem(2);
			border-radius: rem(30);
			opacity: 0.4;
			background: none;
			cursor: pointer;

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: rem(26);
				height: rem(26);
				margin-top: rem(-13);
				margin-left: rem(-13);
				border: rem(1) solid;
				border-radius: rem(30);
				transition: all 0.4s ease;
			}

			&:hover {
				&:before {
					@extend .text-secondary;
				}
			}

			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: rem(6);
				height: rem(6);
				margin-top: rem(-3);
				margin-left: rem(-3);
				border-radius: rem(13);
				@extend .bg-secondary;
			}

			&-active {
				opacity: 1;

				&:before {
					@extend .text-secondary;
				}
			}
		}
	}
}

/* Buttons */
.button {
	font-family: $font-family-base;
	display: flex;
	text-align: center;
	width: rem(250);
	padding: rem(3);
	letter-spacing: 2px;
	cursor: pointer;
	@extend .fs-p, .text-uppercase;

	&:hover {
		.line {
			&-white,
			&-black {
				&-top,
				&-bottom {
					width: calc(100% + rem(1));
				}

				&-right,
				&-left {
					height: calc(100% + rem(1));
				}
			}
		}
	}

	.line {
		padding: rem(5) rem(30);
		@extend .w-100, .position-relative;
		
		&-white {
			border: rem(1) solid rgba(255, 255, 255, 0.5);

			&-top,
			&-right {
				position: absolute;
				top: rem(-1);
				border-top: rem(1) solid;
				@extend .text-white;
				transition: 0.5s cubic-bezier(0.71, 0.29, 0.18, 0.97);
			}

			&-bottom,
			&-left {
				position: absolute;
				bottom: rem(-1);
				border-top: rem(1) solid;
				@extend .text-white;
				transition: 0.5s cubic-bezier(0.71, 0.29, 0.18, 0.97);
			}

			&-top {
				right: 0;
				width: 0;
			}

			&-right {
				right: rem(-1);
				height: 0;
				border-right: rem(1) solid;
			}

			&-bottom {
				left: 0;
				width: 0;
			}

			&-left {
				left: rem(-1);
				height: 0;
				border-left: rem(1) solid;
			}
		}

		&-black {
			border: rem(1) solid rgba(0, 0, 0, 0.5);

			&-top,
			&-right {
				position: absolute;
				top: rem(-1);
				border-top: rem(1) solid;
				@extend .text-black;
				transition: 0.5s cubic-bezier(0.71, 0.29, 0.18, 0.97);
			}

			&-bottom,
			&-left {
				position: absolute;
				bottom: rem(-1);
				border-top: rem(1) solid;
				@extend .text-black;
				transition: 0.5s cubic-bezier(0.71, 0.29, 0.18, 0.97);
			}

			&-top {
				right: 0;
				width: 0;
			}

			&-right {
				right: rem(-1);
				height: 0;
				border-right: rem(1) solid;
			}

			&-bottom {
				left: 0;
				width: 0;
			}

			&-left {
				left: rem(-1);
				height: 0;
				border-left: rem(1) solid;
			}
		}
	}

	&-white {
		border: rem(1) solid;
		@extend .text-white;
	}

	&-black {
		border: rem(1) solid;
		@extend .text-black;
	}

	&-icon {
		position: relative;
		transform: translateX(3px);
		
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 0;
			width: rem(30);
			height: rem(30);
			margin-top: rem(-17);
			margin-right: rem(-9);
			border: 1px solid;
			border-radius: rem(30);
			@extend .text-secondary;
		}
	}
}

/* Sections */
.section {
	&TextImageTwo,
	&TextImageTwoHorizontal {
		background: url(/img/background-patern-1.jpg);
	}
}
